/* Write your code at the bottom */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
.header-logo {
  float: left;
  color: white;
  font-size: 36px;
  /* Change the top & bottom padding to 20px, and left & right padding to 40px */
  padding: 10px 20px;

}
body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}




.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://image.freepik.com/free-photo/high-angle-laptop-desk-office_23-2148339332.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size:45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7d794;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
  padding-top: 10px;
  opacity: 0.75;
}

.lesson-icon:hover {
  opacity: 1;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #2C3A47;
  opacity: 0.95;
}

.text-contents:hover {
  opacity: 1;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  text-align: center;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* Write your code below */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

footer {
  height: 0px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  z-index: 10;
}

.row-left {
  padding-top: 20px;
  float: left;
  text-align: left;
}

.row-left h3 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 120px;
  font-size: 30px;
}

.row-left p{
  text-align: left;
  padding-bottom: 1px;
  padding-left: 120px;
  font-size: 15px;
}

.copyright {
  padding-top: 5px;
}

.row-right {
  float: right;
  text-align: left;
  padding-top: 20px;
  padding-right: 250px;
}

.row-right h3  {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 30px;
}

.row-right p {
  text-align: left;
  padding-bottom: 1px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}

.container-bottom {
  padding-top: 140px;
  text-align: center;
}

footer img {
  width: 125px;
  text-align: center;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}
